<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADST_Colchoneria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADST_Colchoneria.Properties.Settings>
            <setting name="odbc" serializeAs="String">
                <value>ADSTConnector</value>
            </setting>
            <setting name="xusuario" serializeAs="String">
                <value/>
            </setting>
            <setting name="xrol" serializeAs="String">
                <value/>
            </setting>
            <setting name="xnomusuario" serializeAs="String">
                <value/>
            </setting>
            <setting name="xaplicacion" serializeAs="String">
                <value/>
            </setting>
            <setting name="xaut" serializeAs="String">
                <value/>
            </setting>
        </ADST_Colchoneria.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
